<a href="https://colab.research.google.com/github/wevertonAraujo/imd_tec_002/blob/Meu-Ramo/aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 02

In [3]:
# Importando as Bibiotecas
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/wevertonAraujo/projeto_final_python_4_cidades/master/dados/dados_covid19_cidade_parnamirim.csv')
df

     Data      Cidade  ...  Total_Obitos  Obitos_Dia
0   20/03  Parnamirim  ...             0           0
1   21/03  Parnamirim  ...             0           0
2   22/03  Parnamirim  ...             0           0
3   23/03  Parnamirim  ...             0           0
4   24/03  Parnamirim  ...             0           0
..    ...         ...  ...           ...         ...
85  13/06  Parnamirim  ...            30           0
86  14/06  Parnamirim  ...            34           4
87  15/06  Parnamirim  ...            41           7
88  16/06  Parnamirim  ...            41           0
89  17/06  Parnamirim  ...            41           0

[90 rows x 6 columns]